html, body { 
	margin: 0; 
	padding: 0; 
	width: 100%;
	height: 100%;
	background-image: url('img/lion.jpg');
	background-position: right;
}
#main_frame {
	width: 800px;
	margin: 0 auto;
}
#logo {
	width: 646px;
	height: 151px;
	margin: 0 auto;
	background-image: url('img/logo.jpg');
}
#info_block {
	position: absolute;
	width: 560px;
	min-width: 560px;
	max-height: 650px;
	color: grey;
	margin: auto;
	display: block;
}
#invest {
	width: 45px;
}
#invest_table {
	position: relative;
	width: 800px;
	margin-top: 10px;
	height: 50%;
	border-style: solid;
	border-color: #FFFFEF;
}
#input_style {
	position: absolute;
	padding-bottom: 5px;
	padding-left: 5px;
}
#invest_input_block {
	font: 20px sans-serif;
}
#remove_table {
	color: #FFDEDE;
}
.table_font {
	font: 20px arial, sans-serif;
}
.table_block {
	width: 150px !important;
	height: 120px !important;
}
.table_colomn2 {
	margin-left: 160px !important;
}
.table_colomn3 {
	margin-left: 320px !important;
}
.table_colomn4 {
	margin-left: 480px !important;
}
.table_colomn5 {
	margin-left: 640px !important;
}
.devideByThreeBlock {
	position: relative;
	font: 25px arial, serif;
	color: white;

}
.secondFrame{
	width: 824px;
	height: 265px;
	margin: 0 auto;
	padding-top: 15px;
	color: #FFFFF6;
	font: 30px arial, sans-serif;
	font-family: "Times New Roman", Times, serif;
}
.font_package {
	font: 50px arial, sans-serif;
	font-family: "Times New Roman", Times, serif;
	color: white;
}
.inline_block {
	position: absolute;
	width: 201px;
	margin: 3px;
	padding: 0;
	height: 302px;
	border: 2px solid black;
	padding: 5px;
}